:root {
  /* Font and base settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;

  --color1: #eac85b;  /* Primary accent (used for highlights/glow) */
  --color2: #242f4a;  /* Dark background gradient start */
  --color3: #1b2232;  /* Dark background gradient end */
  --color4: #ffae74;  /* Secondary accent or highlight text color */
  --color5: #59789d;  /* Neutral or subtle accent (button backgrounds, borders) */
  --neutral-text: #ffffff; /* Main text color */
  --highlight-text: #ffae74; /* Highlight text color */

  color: var(--neutral-text);
  background-color: var(--color3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.App {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Navigation Bar Enhancements */
.navigation-bar {
  display: flex;
  width: 100%;
  padding: 0.5em 0;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  background-color: var(--color2);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
}

.navigation-button {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5em;
  padding: 0.3em 0;
  background-color: var(--color2);
  color: var(--color4);
  border-radius: 1em;
  text-align: center;
  font-weight: 500;
  transition: all 0.5s ease, color 0.3s ease;
  text-decoration: none;
}

.navigation-button.active {
  background-color: var(--color3);
  border: var(--color1) 1px solid;
  color: var(--color1);
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  scale: 1.1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navigation-button-icon {
  width: 1.8em;
  height: 1.8em;
}

.navigation-button span {
  opacity: 0;
  display: none;
}
.navigation-button.active span {
  display: block;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

.info-container {
  font-weight: lighter;
  font-size: 0.9em;
  color: var(--highlight-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container p {
  color: var(--color4);
}



.highlight-text {
  color: var(--highlight-text);
}

.scroll-page{
  overflow-y: scroll;
}